<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ユーザページ</title>
  </head>
  <body>
    <p>ログインしました</p>
    <div>ユーザーID:<%- userId %></div>
    <a href="/change">パスワード変更</a>
  </body>
</html>
